body{
    background-color: rgb(170, 165, 138);
    font-family: 'Signika', sans-serif;
    margin: 20px 100px 20px 100px;
}
.Page{
    background-color: rgb(212, 214, 214);
    padding: 10px;
}

#Header{
    /* background-attachment: fixed; */
    background-color: bisque;
    padding: 2%;
    display: inline-block;
    border: 10px solid;
    text-align: center;
}

#Maincontent{
    
}

#Maincontent blockquote{
    color: rgb(236, 46, 236);
    font-size: 20px;
    font-style: italic;
} 
.Img{
    margin: 10px 0px 0px 25px;
}
img {
    border: 10px solid rgb(26, 23, 23);
    border-radius: 20px;
    padding: 10px;
}
.Input{

    margin-left: 450px;
}

input{
    border: 2px solid gray;
    border-radius: 5px;
    transition: 1s;
    width: 150px;
    height: 30px;
}

input:focus { 
    width: 250px;
}

table, th, td {
    border: 1px solid black;
}

table{
    width: 100%;
    border-radius: 10px;
}

a:hover{
    color: orange;
}

